---
import MainLayout from "@layouts/MainLayout.astro";
import BackgroundAnimation from "@components/ui/BackgroundAnimation.astro";
import ProjectCard from "@components/projects/ProjectCard.tsx";
import { projects } from "@data/projects";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const title = "Projets | Ryan PINA-SILASSE";
const description =
  "Vitrine de projets de développement web et mobile utilisant React, Next.js, Go, TypeScript et technologies modernes. Applications et exemples de travaux professionnels.";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout title={title} description={description}>
  <BackgroundAnimation />
  <div class="flex flex-col min-h-screen py-16 px-4">
    <div id="projects">
      <h3 class="text-5xl font-semibold text-indigo-500 text-center">
        {t("projects.title")}
      </h3>
      <hr class="my-8 border-t border-indigo-700 w-1/2 mx-auto" />
    </div>
    <div
      class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 max-w-7xl mx-auto px-4 animate-fade-up"
    >
      {
        projects.map((project) => (
          <ProjectCard
            client:load
            projectId={project.id}
            lang={lang}
            buttonLabel={t("projects.button_label")}
          />
        ))
      }
    </div>
  </div>
</MainLayout>
