---
import SkillsList from "./SkillsList";
import type { SkillItem } from "@/data/skillDetails";
import { useTranslations } from "@i18n/utils";
import { translations } from "@i18n/translations";

interface Props {
  skills: SkillItem[];
  category: string;
  lang: keyof typeof translations;
}

const { skills, category, lang } = Astro.props;
const t = useTranslations(lang);

const serializableSkills = skills.map((skill) => ({ key: skill.key }));
---

<div class="my-6">
  <p class="text-white text-3xl text-center my-4">
    {t(`skills.${category}` as any)}
  </p>
  <div
    class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 justify-items-center mx-8 lg:mx-[20rem] gap-6"
  >
    <SkillsList client:load skills={serializableSkills} />
  </div>
</div>
