---
// src/components/about/AboutInfos.astro
import { useTranslations } from "@i18n/utils";
import type { Lang } from "@types/i18n";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="flex flex-col items-start justify-center w-full">
  <h2 class="text-2xl sm:text-3xl font-bold text-white mb-4">
    {t("about.introduction")}
  </h2>
  <p
    class="text-white text-base sm:text-lg leading-relaxed tracking-wide whitespace-pre-wrap"
  >
    {t("about.description")}
  </p>
</div>
