---
// src/components/about/AboutPicture.astro
---

<div class="flex flex-col items-center justify-center p-8">
  <div class="relative p-6">
    <div
      class="absolute inset-8 rounded-md bg-gradient-to-r from-purple-600 to-indigo-600 transform -translate-x-6 -translate-y-6 -skew-y-6"
    >
    </div>
    <div class="relative z-10">
      <img
        src="/photo.jpg"
        width={500}
        height={500}
        alt="Ryan"
        class="object-cover rounded-md sm:w-96 sm:h-96 md:w-[400px] md:h-[400px]"
      />
    </div>
  </div>
</div>
