---
interface Props {
  className?: string;
  id?: string;
}

const { className = '', id } = Astro.props;
---

<div id={id} class:list={['container mx-auto px-4 sm:px-6 lg:px-8', className]}>
  <slot />
</div>
